<h2>New Celebrity</h2>
<form method="POST">
  <label>Name:<input name="name" /></label>
  <br />
  <label>Occupation:<input name="occupation" /></label>
  <br />
  <label>CatchPhrase:<input name="catchPhrase" /></label>
  <br />
  <button type="submit">New Celebrity</button>
</form>
